* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff)
      format("woff");
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  background-color: rgba(126, 129, 129, 0.229);
}

.box {
  border: 1px solid black;
  margin: 1rem;
}
/*--------------------LOGO----------------------------*/

.header-3-mobile {
  display: none;
}

.logo {
  background: url("Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -10px -51px;
  width: 96px;
  height: 29px;
}

.hamburger-logo {
  display: none;
}
/********DELIVERY $ ICON ***********/
.delivery {
  background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -71px -306px;
  width: 17px;
  height: 20px;
}

.info-top {
  font-size: 1rem;
  padding-left: 2rem;
}

.info-bottom {
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

/******NAVBAR-LEFT************/
.nav-left-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/******NAVBAR-RIGHT************/

.nav-right-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/******NAVBAR-HEADER************/

.header-1,
.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*******SEARCH-SECTION***********/
#all {
  padding: 1rem;
}

.btn-search {
  padding: 1rem;
}

.search-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  /* width: 100%; */
}

#message {
  height: 4rem;
  width: 115rem;
}

.info-large-mobile {
  display: none;
}
/*********Navbar-right**********/

.langu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.2rem;
}

.flag-photo {
  width: 2rem;
}

.info-langu {
  font-size: 1.2rem;
  font-weight: 600;
}

.info-small {
  font-size: 1rem;
}

.info-large {
  font-size: 1.3rem;
  font-weight: 600;
}

/**************CART-TEXT-ICON**********/

.cart-icon {
  background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -10px -340px;
  width: 38px;
  height: 26px;
  position: relative;
}

.item-number {
  font-size: 1.9rem;
  position: absolute;
  right: 5rem;
  top: 2.3rem;
  font-weight: 600;
}

.info-cart-bottom {
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 1rem;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******Header-2****/

.nav-left-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

/******NAVBAR-RIGHT************/

.nav-right-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.nav-left-2 span {
  font-size: 1.4rem;
  font-weight: 600;
}
