* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff)
      format("woff");
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  /* background-color: rgba(126, 129, 129, 0.229); */
}

.box-4 {
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
}

.box-4:hover {
  border: 1px solid white;
  cursor: pointer;
  border-radius: 2px;
}

.box-2 {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0);
}

.box-2:hover {
  border: 1px solid white;
  cursor: pointer;
  border-radius: 2px;
}

/*--------------------LOGO----------------------------*/

.header-3-mobile {
  display: none;
}

.section-2-mobile {
  display: none;
}

.logo {
  background: url("Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -10px -51px;
  width: 96px;
  height: 29px;
}

.hamburger-logo {
  display: none;
}

/********DELIVERY $ ICON ***********/
.delivery {
  background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -71px -306px;
  width: 17px;
  height: 20px;
}

.info-top {
  font-size: 1rem;
  padding-left: 2rem;
  color: rgb(205, 199, 199);
}

.text {
  border: 2px solid #f08804;
}

.info-bottom {
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

/******NAVBAR-LEFT************/
.nav-left-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding-left: 0rem; */
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 220px;
  /* width: calc(350px - 0% - 0%); */
}

/******NAVBAR-RIGHT************/

.nav-right-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 430px;
}

/******NAVBAR-HEADER************/

.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  color: white;
}

.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232f3e;
  color: white;
  height: 4vh;
}

/*******SEARCH-SECTION***********/

select {
  font-size: 1.5rem;
  font-family: "amazon ember";
  font-weight: 300;
  width: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 0.3rem;

  /* padding: 1rem; */
  /* appearance: none; */
  /* border: 1px solid #cecece;
  background: #ffffff
    url("https://i2.wp.com/webdevpuneet.com/wp-content/uploads/2020/04/select-bg.png")
    no-repeat top right; */
  /* width: 205px; */
  /* font-size: ; */
  /* color: gray;
  height: 25px; */
  /* border-radius: ; */
  /* padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none; */
  /* appearance: none; */
}

.fa-magnifying-glass {
  font-size: 1.7rem;
  color: #3d352a;
}

#text {
  width: 115rem;
  padding: 1rem;
}

.btn-search {
  padding: 1.1rem;
  font-size: 1.3rem;
  background-color: #febd69;
  border: 1px solid #febd69;
  border-radius: 3px;
}

.search-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-large-mobile {
  display: none;
}
/*********Navbar-right**********/

.langu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.2rem;
  padding: 1.6rem;
}

.flag-photo {
  width: 2rem;
}

.info-langu {
  font-size: 1.2rem;
  font-weight: 600;
}

.info-small {
  font-size: 1rem;
}

.info-large {
  font-size: 1.3rem;
  font-weight: 600;
}

/**************CART-TEXT-ICON**********/

.cart-icon {
  background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -10px -340px;
  width: 38px;
  height: 26px;
  position: relative;
}

.item-number {
  font-size: 1.7rem;
  position: relative;
  left: 2.7rem;
  bottom: 1rem;
  font-weight: 600;
  color: #f08804;
}

.info-cart-bottom {
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 1rem;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******Header-2****/

.nav-left-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  font-size: 1.2rem;
  padding-left: 1rem;
}

/******NAVBAR-RIGHT************/

.nav-right-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 2rem;
}

.nav-left-2 span {
  font-size: 1.4rem;
  font-weight: 600;
}

/* .nav-left-2 {
  padding-left: 1rem;
} */

/* .nav-right-2 {
  padding-right: 2rem;
} */

.box-4 .light-text {
  font-weight: 400;
  font-size: 1.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fa-bars {
  font-size: 1.8rem;
}
/* 
****************section-1************** */

.section-1 {
  display: flex;
  gap: 0.8rem;
  background-color: #f7f8f8;
  border-bottom: 1.5px solid #cccccc;
}

.box-section-1 {
  border: 1px solid rgba(255, 192, 203, 0);
  padding: 0.8rem;
}

.box-section-1 a {
  font-family: "amazon ember";
  font-size: 1.2rem;
  text-decoration: none;
  /* text-decoration: underline; */
  color: #333333;
  /* text-underline-offset: 3px; */
}

/* .box-section-1:hover {
  border-bottom: 1px solid #ff9900;
  cursor: pointer;
} */

.span-section-1:hover {
  color: #ff9900;
  text-underline-offset: 9px;
  text-decoration: underline solid 2px;
  transition: all 0.1s ease;
}

.box-section-1 .toys {
  font-weight: 800;
  color: #333333;
}

.box-section-1 .toys:hover {
  color: #ff9900;
  text-underline-offset: 9px;
  text-decoration: underline solid 2px;
  transition: all 0.2s ease;
}

/* 
*****************section-2***************** */
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11rem;
  height: 6vh;
  border: 1px solid #cccccc;
  background-color: #f7f8f8;
  cursor: pointer;
}

.small-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 8rem;
}

.left-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.middle-text {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 3rem;
}

.stars-numbers img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.5rem;
}

.prime {
  background: url("/Assets/img/prime_photos.png") no-repeat -138px -73px;
  width: 42px;
  height: 12px;
}

.price-section-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.dollar,
.big-amount,
.small-amount {
  color: #ae2e0e;
}

.dollar {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.big-amount {
  font-size: 2.5rem;
}

.small-amount {
  font-size: 1.2rem;
  padding-top: 0.4rem;
}
/* 
***************section-3***************** */
.section-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid blue;
  height: 4vh;
  padding-right: 5rem;
  padding-left: 22rem;
}

.nav-left-section-3 a,
.nav-right-section-3 {
  color: rgba(91, 88, 88, 0.916);
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.fa-circle-info {
  color: rgba(128, 128, 128, 0.694);
}
.nav-left-section-3 a {
  padding-left: 0.1rem;
}

.nav-left-section-3 a:hover {
  text-decoration: underline;
}

.nav-left-section-3 .fa-chevron-right {
  font-size: 0.6rem;
}

/* ***************section-4*****************  */
.section-4 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.box-section-4-1 {
  border: 1px solid rgb(216, 11, 216);
  width: 5rem;
  height: 30vh;
}
.box-section-4-2 {
  border: 1px solid rgb(6, 47, 25);
  width: 55rem;
  height: 60vh;
}
.box-section-4-3 {
  border: 1px solid rgb(18, 86, 86);
  width: 55rem;
  height: 100vh;
}
.box-section-4-4 {
  border: 1px solid rgb(107, 7, 23);
  width: 22rem;
  height: 70vh;
  position: relative;

  /* margin-right: 20rem; */
}

.small-imges {
  border: 1px solid pink;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ***************section-5******************/

.section-5 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  bottom: 27rem;
  right: 26rem;

  gap: 1rem;
}
.box-section-5-1 {
  border: 1px solid rgb(216, 11, 216);
  width: 22rem;
  height: 10vh;
}
.box-section-5-2 {
  border: 1px solid rgb(6, 47, 25);
  width: 22rem;
  height: 25vh;
}
/* 
.box-section-5-3 {
  border: 1px solid rgb(18, 86, 86);
  width: 55rem;
  height: 60vh;
} */
/* .box-section-5-4 {
  border: 1px solid rgb(107, 7, 23);
  width: 22rem;
  height: 70vh;
}

.box-section-5-5 {
  border: 1px solid rgb(107, 7, 23);
  width: 22rem;
  height: 70vh;
}  */

/* ***************section-6***** */

.section-6 {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  position: relative;
  bottom: 35rem;
  /* right: 10rem; */
  height: 80px;
  width: 93%;
}

.box-section-6-1 {
  border-bottom: 2px solid rgb(6, 47, 25);
  width: 60%;
}

/* ***************section-7***** */

.section-7 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  bottom: 27rem;
  right: 26rem;

  gap: 1rem;
}

.box-section-7-1 {
  border: 1px solid rgb(216, 11, 216);
  width: 22rem;
  height: 10vh;
}
