@media (max-width: 500px) {
  .header-1 {
    display: none;
  }

  .header-2 {
    display: none;
  }
  .header-3-mobile {
    display: flex;

    flex-direction: column;
    gap: 0.5rem;
  }

  .box-1 {
    border: 1px solid black;
  }

  .serach-box {
    width: 100%;
    display: flex;
  }

  #message-1 {
    width: 100%;
  }

  .delivery-israel {
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .dlivery-details-mobile {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .btn-search-1 {
    padding: 1rem;
  }

  .fa-solid {
    font-size: 2rem;
  }

  .cart-icon-mobile {
    background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
      no-repeat -10px -340px;
    width: 38px;
    height: 19px;
    padding-bottom: 2rem;
    padding-left: 4rem;
    position: relative;
    bottom: 0.8rem;
  }

  .item-to-cart {
    font-size: 2rem;
    position: relative;
    left: 2.5rem;
    bottom: 0.5rem;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
  }

  .fa-bars {
    font-size: 2rem;
    color: white;
  }

  .logos-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    position: relative;
  }

  .sign-in {
    font-size: 1.2rem;
    font-weight: 800;
  }

  .fa-chevron-right {
    font-size: 1rem;
  }

  .fa-user {
    font-size: 2rem;
  }

  .contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .location-icon {
    background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
      no-repeat -71px -306px;
    width: 17px;
    height: 20px;
    padding-bottom: 2rem;
    padding-left: 2.1rem;
  }
}
