@media (max-width: 500px) {
  .header-1,
  .header-2 {
    display: none;
  }

  .header-3-mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.3rem;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */

    color: white;
    background-color: #232f3e;
  }
  .logo-mobile {
    background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
      no-repeat -10px -90px;
    width: 80px;
    height: 30px;
  }

  .box-1 {
    border: 1px solid rgba(255, 255, 255, 0);
  }

  /* .conatnier-search {
    display: flex;
    justify-content: center;
    width: 50;
  } */

  .serach-box {
    display: flex;
    justify-content: space-between;

    margin-left: 1rem;
    margin-right: 1rem;

    /* padding-lseft: 5rem; */
  }

  .delivery-israel {
    /* height: 5vh; */
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    background-color: #374659;
    gap: 0.3rem;
  }

  .dlivery-details-mobile {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .btn-search-mobile {
    padding: 1rem;
    border-radius: 8px;
    background-color: #fcbb6a;
  }

  .fa-solid {
    font-size: 2rem;
  }

  .cart-icon-mobile {
    background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
      no-repeat -10px -340px;
    width: 38px;
    height: 19px;
    padding-bottom: 2rem;
    padding-left: 4rem;
    position: relative;
    bottom: 0.8rem;
  }

  .item-to-cart {
    font-size: 1.6rem;
    font-weight: 800;
    position: relative;
    left: 2.6rem;
    bottom: 0.7rem;
    color: #ff9900;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
    margin-top: 1rem;
    gap: 1rem;
  }

  .fa-bars {
    font-size: 2rem;
    color: white;
  }

  .logos-2 {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;
    position: relative;
    margin-right: 1rem;
  }

  .sign-in {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .fa-chevron-right {
    font-size: 0.8rem;
  }

  .fa-user {
    font-size: 2.5rem;
    padding-left: 0.4rem;
  }

  #text-mobile {
    font-size: 1.5rem;
    font-family: "amazon ember";
    width: 50rem;
    border-radius: 7px;
  }

  .contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.2rem;
  }

  .location-icon {
    background: url("/Assets/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
      no-repeat -71px -306px;
    width: 17px;
    height: 20px;
    padding-bottom: 2rem;
    padding-left: 2.1rem;
  }
}
